body {
    background-color: gray;
}
#employee-table th,
td {
  display: inline-block;
  width: 16.575%;
}

#jumboText {
    font-family: 'Germania One', cursive;
    font-size: 40px;
}

.card-header {
    font-family: 'Germania One', cursive;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

th {
  text-align: center;
  font-weight: bold;
}

